{% comment %} <div>
  <ul>
    
     <li><a href="{% url 'admin_home' %}">home</a></li>
     <li><a href="{% url 'register' %}">faculty registeraton</a></li>
     <li><a href="{% url 'teachers_list' %}">faculty list</a></li>
    
  </ul>
</div> {% endcomment %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz And PYQ  System </title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-black-50 text-black-800">
    <!-- ====================== HEADER ====================== -->
    <header class=" bg-black shadow-sm">


        <nav class="max-w-7xl mx-auto px-6 py-2 flex items-center justify-between">
            
          <a href="{% url 'commonhome' %}" class="flex items-center">
            <img src="{% static 'images/download.jpg.webp' %}" alt="Logo" class="h-25 w-20 mr-3" />
             <h1 class="text-2xl font-bold text-white-600">
            
            </a>
            <div class="space-x-4">
                 <a href="{% url 'register' %}"
                    class=" px-2 py-1 text-sm font-medium bg-white-500 text-white rounded hover:bg-gray-700 ">
                faculty register
                <a href="{% url 'teachers_list' %}"
                    class=" px-2 py-1 text-sm font-medium bg-white-500 text-white rounded hover:bg-gray-700">
                faculty list
                </a>
                
            
                
                <a href="{% url 'admin_home' %}"
                    class=" px-2 py-1 text-sm font-medium bg-white-500 text-white rounded hover:bg-gray-700">
                home
                </a>
          
            </div>
        </nav>
    </header>
    


