 
 {% include 'fheader.html' %}
{% comment %} <form  action="{% url 'upload_question_action' %}" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}
    
     {{ form.as_p }}
     {{ message }}
    <button type = "submit">login</button>
</form>  {% endcomment %}

{% load widget_tweaks %}
<div class ="bg-blue-100 min-h-screen flex items-center justify-center">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
    <div class="max-w-md mx-auto mt-10 bg-white p-8 rounded-md shadow-xl/30 border bg-gray-500 border-gray-300  ">
        <h1 class="text-center text-black-600 dark:text-black-400 text-xl">Upload PYQ Questions</h1>
        <form action="{% url 'upload_question_action' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label class="block text-gray-700">
                  {{ form.subject_id.label_tag }}
                    {{ form.subject_id|add_class:"w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                    {{ form.semester.label_tag }}
                    {{ form.semester|add_class:"w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                     {{ form.subject_k.label_tag }}
                    {{ form.subject_k|add_class:"w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" }}
            </div> {{ form.questionupload.label_tag }}
                    {{ form.questionupload|add_class:"w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" }}
            <div class="flex justify-center">
            <button type="submit"
                class=" items-center w-60 bg-blue-500 shadow-lg shadow-blue-500/50 ring-2 ring-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-400 mt-4 duration-700 ">
                Upload </button>
            </div>
        </form>
