<!DOCTYPE html>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<div class="min-h-screen flex items-center justify-center bg-gradient-to-br from-indigo-100 to-blue-200 p-6">

    <div class="w-full max-w-md bg-white rounded-2xl shadow-xl p-8">

        <h2 class="text-xl font-semibold text-center text-gray-700 mb-6">
            Reset Password
        </h2>

        {% if messages %}
            {% for message in messages %}
                <p class="text-center text-sm mb-4 
                    {% if message.tags == 'error' %} text-red-500 
                    {% else %} text-green-600 {% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            {% if stage == "email" %}
                <input type="hidden" name="stage" value="email">

                <input type="email" name="email" required
                       placeholder="Enter registered email"
                       class="w-full px-3 py-2 border border-gray-400 rounded-lg bg-gray-50 focus:ring-2 focus:ring-blue-500">

            {% elif stage == "otp" %}
                <input type="hidden" name="stage" value="otp">

                <input type="text" name="otp" required
                       placeholder="Enter OTP"
                       class="w-full px-3 py-2 border border-gray-400 rounded-lg bg-gray-50 focus:ring-2 focus:ring-blue-500">

            {% elif stage == "new_password" %}
                <input type="hidden" name="stage" value="new_password">

                <input type="password" name="new_password" required
                       placeholder="Enter new password"
                       class="w-full px-3 py-2 border border-gray-400 rounded-lg bg-gray-50 focus:ring-2 focus:ring-blue-500">
            {% endif %}

            <button type="submit"
                class="w-full mt-4 bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2.5 rounded-lg shadow">
                Continue
            </button>

        </form>

    </div>
</div>