{% comment %} <div class="max-w-md mx-auto mt-10 bg-white text-gray-900 p-6 rounded shadow">

    <h2 class="text-xl font-bold mb-4 text-center">
        Quiz Result
    </h2>

    <!-- Student Info -->
    <div class="mb-4 p-3 bg-gray-100 rounded">
        <p><b>Student Name:</b> {{ student.student_name }}</p>
        <p><b>Roll No:</b> {{ student.roll_no }}</p>
    </div>

    <!-- Result Info -->
    <p>Total Questions: <b>{{ total }}</b></p>
    <p>Correct Answers: <b>{{ correct }}</b></p>
    <p>Wrong Answers: <b>{{ wrong }}</b></p>
    <p>Score: <b>{{ score }}</b></p>

    <p class="font-semibold mt-4 text-center
        {% if remarks == 'PASS' %}
            text-green-600
        {% else %}
            text-red-600
        {% endif %}
    ">
        Result: {{ remarks }}
    </p>

</div> {% endcomment %}
<!-- result page -->
{% load widget_tweaks%}
<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Result</title>

    <!-- Tailwind CDN -->
   <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="max-w-md mx-auto mt-10 bg-white p-6 rounded-lg shadow-lg border border-gray-300">

        <h1 class="text-2xl font-bold mb-6 text-center text-gray-800">
            Quiz Result
        </h1>

        <!-- Student Info -->
        <div class="mb-4 p-4 bg-gray-100 rounded">
            <p class="text-gray-700"><b>Student Name:</b> {{ student.student_name }}</p>
            <p class="text-gray-700"><b>Roll No:</b> {{ student.roll_no }}</p>
        </div>

        <!-- Result Info -->
        <p class="text-gray-700">Total Questions: <b>{{ total }}</b></p>
        <p class="text-gray-700">Correct Answers: <b>{{ correct }}</b></p>
        <p class="text-gray-700">Wrong Answers: <b>{{ wrong }}</b></p>
        <p class="text-gray-700">Score: <b>{{ score }}</b></p>

        <p class="font-semibold mt-4 text-center
            {% if remarks == 'PASS' %}
                text-green-600
            {% else %}
                text-red-600
            {% endif %}
        ">
            Result: {{ remarks }}
        </p>

    </div> 
  