{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz And PYQ System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#EDE9FE] text-gray-700">

<!-- ================= HEADER ================= -->
<header class="bg-white shadow-md">
    <nav class="max-w-7xl mx-auto px-6 py-3 flex items-center justify-between">

        <!-- Logo + Title -->
        <div class="flex items-center gap-3">
            <img src="{% static 'images/download.jpg.webp' %}"
                 alt="Logo"
                 class="h-12 w-12 rounded-xl shadow-sm" />

            <h1 class="text-xl font-bold text-violet-700">
                Quiz & PYQ Management System
            </h1>
        </div>

        <!-- Navigation -->
        <div class="flex gap-3">

           <a href="{% url 'quiz_attempt' %}"
   class="bg-purple-500 text-white px-5 py-2 rounded-lg font-semibold">
   Quiz Attempt
</a>



            <a href="{% url 'student_pyq' %}"
               class="px-4 py-2 text-sm rounded-xl
                      bg-[#C4B5FD] text-violet-800
                      hover:bg-[#A78BFA] hover:text-white
                      transition shadow">
                PYQ Questions
            </a>

            <a href="{% url 'commonhome' %}"
               class="px-4 py-2 text-sm rounded-xl
                      bg-gray-100 text-gray-700
                      hover:bg-gray-200 transition shadow">
                Logout
            </a>

             <a href="{% url 'student_home' %}"
               class="px-4 py-2 text-sm rounded-xl
                      bg-gray-100 text-gray-700
                      hover:bg-gray-200 transition shadow">
                Home
            </a>

          
        </div>
    </nav>
</header>
